label{
    color: whitesmoke;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-button:hover{
    opacity: 0.6;
}

.submit-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button{
    width: 90%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgb(7, 69, 71);
    color: whitesmoke;
    font-size: 14px;
    font-weight: bold;
}

.label-alert{
    font-size: 14px;
    color: red;
    background: whitesmoke;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
}